.section{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    border-radius: 20px;
}

.white, .black {
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: all 2s ease-out 0s;
}

.white{
    background-color: rgb(255, 213, 151);
}

.black {
    background-color: brown;
}

.white:hover{
    background-color: rgb(255, 247, 235);
    transition: all 70ms ease-out 0s;
}

.black:hover{
    background-color: rgb(226, 110, 110);
    transition: all 70ms ease-out 0s;
}